			</section>
		</aside>
	</div>
</body>
<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/backend/jquery.dataTables.min.js"></script>
<script src="/js/backend/dataTables.bootstrap.js"></script>
<script src="/js/backend/pace.min.js"></script>
<script src="/js/backend/jquery.totemticker.min.js"></script>
<script src="/js/backend/jquery.ba-resize.min.js"></script>
<script src="/js/backend/jquery.blockUI.min.js"></script>
<script src="/js/backend/jquery.gritter.min.js"></script>
<script src="/js/backend/jquery.sparkline.min.js"></script>
<script src="/js/backend/main.js"></script>
<script src="/js/backend/user.js"></script>
</html>
